[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "autoCovariateSelection"]
	path = autoCovariateSelection
	url = https://github.com/technoslerphile/autocovariateselection
	shallow = true
	registered = true
